body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
    z-index: 5;
}
a{
    text-decoration: none;
    color: #000;
    line-height: 1.5;
}
.nav-tittle,
.nav-list{
    font-size: 16px;
    padding: 8px 16px;
    margin: 8px 12px;
    letter-spacing: 4px;
}
.nav-tittle:hover,
.nav-list a:hover{
    background-color: #ccc;
}
.nav-list a{
    padding: 10px;
}
.header{
    width: 100%;
    max-width:  1600px;
    min-width: 500px;
    position: relative;
}
.header .header-img{
    width: 100%;
    height: 100%;
}
.header .header-name{
    position: absolute;
    font-size: 36px;
    letter-spacing: 5px;
    color: rgb(85, 84, 84);
    padding-left: 26px;
    bottom: 36px;
}
.content{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.catering{
    padding-top: 64px;
    padding-bottom: 84px;
    display: flex;
    border-bottom: 1px solid #eee;
}
.content .catering-img{
    width: 500px;
    height: 630px;
    opacity: 0.7;
    border-radius: 5px;
}
.catering-info{
    margin-left: 50px;
    padding: 12px;
    font-size: 12px;
    line-height: 1.5;
}
.catering-info .catering-tittle{
    text-align: center;
    font-size: 46px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 4px;
}
.catering-info .catering-decs{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 32px;
    font-size: 20px;
    letter-spacing: 5px;
}
.catering-info .catering-text{
    font-size: 18px;
    line-height: 1.5;
}
.text-spec{
    background-color: rgb(229, 226, 226);
    padding: 4px 8px;

}
.catering-info .catering-text p:nth-child(2){
    color: #757575;
}
.menu{
    display: flex;
    padding-top: 84px;
    padding-bottom: 84px;
    justify-content: space-around;
    border-bottom: 1px solid #eee;
}
h2{
    text-align: center;
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: 400;
    margin: 32px 0 63px 0;
}
.menu-name{
    font-size: 18px;
    margin: 24px 0;
    letter-spacing: 4px;
}
.menu-desc{
    color: #757575;
    margin-bottom: 60px;
}
.menu-img{
    height: 750px;
    width: 500;
    opacity: 0.7;
    border-radius: 5px;
}
.contact{
    padding-top: 84px;
    padding-bottom: 84px;
}
form{
    display: flex;
    flex-direction: column;

}
h2{
    text-align: start;
    letter-spacing: 5px;
}
.contact p:nth-child(2),
.contact p:nth-child(4){
    font-size: 15px;
    line-height: 1.5;
}
.contact p:nth-child(3){
    color: #607d8b;
    font-size: 18px;
    font-weight: 600;
}
.contact .contact-name,
.contact-number,
.contact-date,
.contact-message{
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    padding: 16px 0;
    margin: 18px 0;
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}
.contact .contact-btn{
    cursor: pointer;
    width: 150px;
    height: 32px;
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
    border: none;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    padding: 40px 0;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 15px;
}
footer a{
    border-bottom: 1px solid ;
}